.Shape_3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(117, 122, 136, 0.14);
    position: absolute;
    left: 535px;
    top: 259px;
    width: 530px;
    height: 424px;
    z-index: 2;
}
